.Extensions{
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(226, 25%, 17%);
  border-radius: 10px;
  padding: 7px;
}

.StyleExtensions{
  filter: invert(1);
  object-fit: cover;
  width: 140px;
  height: 30px;
}

.Theme{
  margin: 5px;
  border-radius: 10px;
  background: hsl(225, 23%, 24%);
  border: none;
  padding: 8px;
}

.Theme img{
  width: 15px;
  height: 15px;
  object-fit: cover;
}

.ExtensionsList{
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.FilterCards{
 display: flex;
 align-items: center;
}

.FilterCards button{
  height: 20px;
  margin: 10px;
  font-size: 13px;
  border-radius: 10px;
  border: 1px solid hsl(225, 23%, 24%);
  background: hsl(225, 23%, 24%);

 }